<div class="article-container">
  <ul>
      <li>
        <span class="article_title">
           <%= "#{@article['title']}" %>
        </span>

        <span class="article_url">
          <a href="<%= "#{@article['url']}" %>" target="_blank">
            <%= "#{@article['url']}" %>
          </a>
        </span>

        <div class="article-details">
          <%="#{@article['description']}"%>
        </div>
      </li>
      <br>
  </ul>
</div>

<div class="comment">
  <ol>
    <% @comment.each do |comment| %>
      <li>
        <%= comment['body'] %>
        <p><%= comment['created_at'] %></p>
      </li>
    <%end%>
  </ol>
</div>

<div class="comment_field">
  <p>Comment on: <%= "#{@article['title']} "%></p>
  <form action="/articles/<%= @article['id'] %>/comment" method="post">
    <label for="comment">Leave a Comment:</label>
    <input type="text" id="comment" name="comment">
    <input type="submit" value="Submit">
  </form>
</div>

